body {
  border-top: 4px solid #7e5c88;
  margin-top: 0;
  font-family: georgia; }

main {
  width: 1333px;
  margin: auto; }

.nav {
  padding-top: 45px;
  display: flex; }

.nav--logo {
  margin-top: -31px; }

.nav--logo h1 {
  margin-bottom: 10px; }

.nav--list {
  padding-left: 80px; }

.nav ul li {
  list-style-type: none;
  display: inline-block; }

.nav ul a {
  padding: 62px 37px 28px;
  text-decoration: none; }

.slider__content {
  align-items: center;
  display: flex;
  justify-content: space-around; }

.slider a {
  font-size: 25px; }

.slider__text {
  width: 50%; }

.slider__text .margin--left {
  width: 387px; }

.slider__text .margin--left h1 {
  font-size: 42px;
  font-weight: inherit; }

.slider__text .margin--left button {
  width: 140px;
  height: 37px;
  border-radius: 20px; }

.slider img {
  width: 380px;
  height: 380px;
  border: 25px solid #7e5c88;
  border-radius: 50%; }

.content__item .content__title {
  font-family: Georgia Regular;
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd;
  margin-left: 50px; }

.content-product {
  display: flex; }

.content-product2 .text {
  padding: 8px 0;
  font-weight: bold; }

.content-product2 .text-color {
  padding: 8px 0; }

.content .title {
  width: 100%;
  margin-left: 50px;
  display: flex; }

.content .title__from {
  width: 67%;
  border-bottom: 1px solid #ddd; }

.content .title__about {
  width: 17%;
  margin-left: 116px;
  border-bottom: 1px solid #ddd; }

.content__item2 {
  display: flex; }

.content__item2 .col3 .text {
  width: 225px;
  font-size: 14px;
  padding-top: 15px; }

.content__item2 .col3 .text span {
  font-weight: bold; }

.content__item2 .row3 .Name {
  display: flex;
  width: 225px; }

.content__item2 .row3 .Name img {
  border: 1px solid #ddd;
  padding: 4px; }

.content__item2 .row3 .Name:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd; }

.content__item2 .row3 .Name:not(:first-child) {
  padding-top: 15px; }

.content__item2 .row3 .Name .text {
  font-size: 14px;
  padding-left: 3px; }

.content__item2 .row3 .Name .text p {
  margin: 0; }

.footer {
  display: flex;
  font-size: 15px; }

.footer .content__col {
  width: 225px; }

.footer .content__col span {
  font-weight: bold; }

.footer .content__col .link_read {
  text-align: right; }

.footer .content__col .link {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-top: 10px; }

.footer a {
  text-decoration: none; }

.footer .text_title {
  font-weight: bold;
  margin-bottom: 40px; }

.footer .link--icon {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd; }

.footer .link--icon i {
  font-size: 40px; }

.footer .link--icon a {
  margin: 10px;
  position: absolute;
  text-decoration: none; }

.footer:not(:first-child) {
  padding-top: 10px; }

.address {
  font-size: 14px; }

.address_left {
  float: left; }

.address_right {
  float: right; }

.col-4 {
  width: 25%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.border {
  position: relative;
  border-bottom: 1px solid #ddd; }

.shadow::after {
  content: "";
  position: absolute;
  box-shadow: 0 10px 18px 0 #DDD;
  width: 50%;
  height: 14px;
  margin-left: 25%;
  bottom: 0; }

.style-top {
  padding-top: 50px; }

.style-bottom {
  padding-bottom: 50px; }

.content-product2:hover .text, .content-product2:hover .text-color {
  color: white;
  background: #7e5c88; }

.text a {
  text-decoration: none; }

/*# sourceMappingURL=layout.css.map */
